
.menu--menu-item-extras-demo-menu {
  .menu {
    &::after {
      clear: both;
      content: ' ';
      display: table;
    }
  }

  .menu-dropdown-0 {
    background-color: $light-gray;
    left: 0;
    padding: 15px;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 1;
  }
}

